# Executables
*.exe
*.out
*.app
InstructionProcessor

# Visual Studio
.vs/
x64/

# CLion
.idea

# Build
cmake-build-debug/
Build/
BuildDebug/
Debug/
BuildRelease/
Release/
Install/
Coverage/

# CMake
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
