# Executables
*.exe
*.out
*.app
InstructionProcessor

# Visual Studio
.vs/
x64/

# CLion
.idea

# Build
cmake-build-debug/
Debug/
Install/

# CMake
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
